@import "bootstrap/scss/bootstrap-grid";

@function generate-shadows($color: black, $count: 12) {
  $shadows: unquote("");

  @for $i from 1 through $count {
    $shadows: $shadows + unquote("#{#{$i}px #{$i}px 0 0 #{$color}}, ");
  }

  $shadows: unquote(str-slice($shadows, 1, -3));

  @return $shadows;
}
